/* CSS declarations go here */

a.inverted.link {
    color: #f5f5f5 !important;
}

a.inverted.link:hover {
    color: #ffffff !important;
}

.ui.icon.action.input > i.icon, ui.icon.labeled.input > i.icon {
    position: absolute !important;
}

.error .ui {
    background: #ffffff !important;
    border-color: #ffffff !important;
}

.margin-top-3 {
    margin-top: 3rem !important;
}

.margin-bottom-3 {

    margin-bottom: 3rem !important;
}

.margin-top-5 {
    margin-top: 5rem !important;
}

.margin-bottom-5 {

    margin-bottom: 5rem !important;
}

.action-menu {
    position: absolute !important;
}

.inside-buttons {
    position: relative;
    max-height: 200px;
    max-width: 200px;
}

.inside-buttons img {
    position: relative;
}

.inside-buttons:hover div.ui.buttons {
    transition: opacity .4s;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    opacity: 1;
}

.inside-buttons div.ui.buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.inside-buttons > i.icon {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .8;
}