
.mainMenu {
    display: grid;position: absolute;
    min-height: 100% !important;
}

.mainMenu, .mainMenu > div {
    min-height: 100% !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;

}

.mainMenu > div > div {
    min-height: 47px;
}
/*.sidebar{
    transition: width .4s ease;

}

.sidebar.shortSideBar {
    width: 50px !important;
    transition: width .4s ease;
}
.sidebar.shortSideBar .item {
    min-width: 50px !important;
    padding: 10px 0 !important;
}
.pusher.shortSideBar {
    -webkit-transform: translate3d(50px,0,0) !important;
    transform: translate3d(50px,0,0) !important;
}*/