@import "/imports/ui/styles/variables";
.footer-contact {
  .row:not(:last-child){
    padding-bottom: 0 !important;
  }
  label {
    color: @whiteOrange;
  }
  h2 {
    color: @whiteOrange !important;
  }
  input, textarea {
    color: @whiteOrange !important;
    border-color: @lightestOrange !important;
    background-color: @orange !important;
  }
  .button.orange.inverted, .button.orange.inverted:focus {
    color: @whiteOrange;
    border-color: @lightestOrange !important;
    -webkit-box-shadow: 0px 0px 0px 2px @lightestOrange inset !important;
  }
  .ui.checkbox label, .ui.checkbox + label {
    color: @whiteOrange !important;
  }
}


