//todo @white
@white: #fff;

.how{
  .column{
    padding: 5em;
    min-height: 10em;
  }
  color: @white;
}

.gradient-animated {
  color: #fff !important;
  background: linear-gradient(-45deg, rgba(75, 27, 74, 0.8), rgba(75, 27, 74, 0.8), rgba(30,95,150,.8), rgba(90,180,90,.8) , rgba(255, 191, 84, 0.8), rgba(220,90,35,.8), rgba(220,90,35,.8))  !important;
  background-size: 400% 400%  !important;
  -webkit-animation: Gradient 45s ease infinite;
  -moz-animation: Gradient 45s ease infinite;
  animation: Gradient 45s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 400% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

