#header-simple {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  z-index: 1;
  background: rgb(0, 123, 188);
}

#header-simple-padder {
  position: relative;
  height: 75px;
}