
#header {
    position: relative;
    height: 890px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03abc1+0,3ac9dd+12,ffffff+55 */
    background: #03abc1; /* Old browsers */
    background: -moz-linear-gradient(top, #03abc1 0%, #3ac9dd 12%, #ffffff 55%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #03abc1 0%, #3ac9dd 12%, #ffffff 55%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #03abc1 0%, #3ac9dd 12%, #ffffff 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03abc1', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    z-index: 1;

}

#header div {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    display: block;
}

#header div.tree {
    left: 150px;
    top: 230px;
}

#header div.knoll {
    top: 550px;
    width: 100%;
}

#header div.shrubbery {
    top: 505px;
}

#header div.knoll2 {
    top: 415px;
}

#header div.knoll3 {
    top: 470px;
}

#header div.right-mountain {
    top: 315px;
    right: 0;
    margin: 0 0 0 auto;
    left: initial;
    width: 400px;
}

#header div.right-mountain img {
    width: 400px;
}

#header div.left-mountain {
    top: 420px;
    left: -60px;
}

#header div.knoll4 {
    top: 400px;
    right: 0;
    margin: 0 0 0 auto;
}

#header div.mountain {
    top: 380px;
    left: 210px;
    width: 461px;
}

#header div.main-mountain {
    top: 240px;
    left: 390px;
    width: 835px;
}

#header div.sun {
    top: 220px;
    right: 130px;
    margin: 0 0 0 auto;
    left: initial;
    width: 117px;
}

#header div.brite {
    top: 120px;
    right: -20px;
    margin: 0 0 0 auto;
    left: initial;
    width: 382px;
}


#header div.cloud7 {
    top: -130px;
    right: 0;
}


#header div.cloud4 { /*big*/
    right: 0;
    margin: 0 0 0 auto;
    top: 200px;
    opacity: .7;
}



#header div.cloud3 { /*back*/
    margin: 0 0 0 auto;
    top: 50px;
    left: 100px;
    opacity: 0.3;
}

#header div.cloud3 img {
    width: 90%;
}

#header div.cloud2 {
    top: 100px;
    left: -560px;
    opacity: 0.4;
}

#header div.cloud2 img {
    top: 0;
    width: 100%;
}

#header div.cloud1 { /*small*/
    top: 70px;
    left: 220px;
}

#header div.cloud1 img {
    width: 50%;
}

#header div.logo {
    width: 196px;
    top: 65px;
    left: 48px;
}

#header div.logotype {
    width: 305px;
    top: 85px;
    left: 260px;
}

div.after-banner {
    position: absolute;
    top: 690px;
    width: 100%;
    min-height: 180px;
    height: 180px;
    z-index: 2;
}
div.after-banner img.blue-river{
    position: absolute;
    width: 100%;
    height:  100%;
}

#header .banner-heading {
    right: 230px;
    margin: 0 0 0 auto;
    left: initial;
    top: 60px;
    z-index: 3;
}

#header .banner-heading h1 {
    font-size: 60.96px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    line-height: 55px
}

@media screen and (max-width: 1150px) {
    .logo {
        width: 110px !important;
        left: 10px !important;
    }

    .logo img, .logotype img {
        width: 100% !important;
    }

    .logotype {
        width: 185px !important;
        left: 140px !important;
    }

    #header .banner-heading h1 {
        font-size: 45px;
        line-height: 40px;
    }

    #header .banner-heading {
        right: 180px;
    }
}

@media screen and (max-width: 800px) {
    .banner-heading {
        display: none !important;
    }

}

.fixed-header {
    position: fixed !important;
    top: -105px !important;
    left: 0 !important;
}

.cloud-speed1 {
    animation: cloud1 ease 1300s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;

}

.cloud-speed2 {
    animation: cloud2 ease 1300s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;

}

.cloud-speed3 {
    animation: cloud3 ease 1300s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;

}

.cloud-speed4 {
    animation: cloud3 ease 2300s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;

}

@keyframes cloud1 {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(1500px, 0px);
    }
    75% {
        transform: translate(-1500px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes cloud2 {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(2500px, 0px);
    }
    75% {
        transform: translate(-2500px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes cloud3 {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(4000px, 0px);
    }
    75% {
        transform: translate(-4000px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

div.slogan {
    color: #f5f5f5;
    margin: 0 0 0 auto;
    top: 525px;
    right: 230px;
}

.arrows {
    width: 100%;
    position: relative;
}

.arrows svg {
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    width: 60px;
    height: 72px;
    left: 50%;
    margin-left: -25px;
}

.arrows svg path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.arrows svg path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows svg path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows svg path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.gradient-animated {
    color: #fff !important;
    background: linear-gradient(-45deg, rgba(75, 27, 74, 0.8), rgba(75, 27, 74, 0.8), rgba(30,95,150,.8), rgba(90,180,90,.8) , rgba(255,220,90,.8), rgba(220,90,35,.8), rgba(220,90,35,.8))  !important;
    background-size: 400% 400%  !important;
    -webkit-animation: Gradient 45s ease infinite;
    -moz-animation: Gradient 45s ease infinite;
    animation: Gradient 45s ease infinite;
}



@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 400% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.nav-logo{
    opacity: 0;
    margin-left: 10px;
    height: 70px;
    width: auto;
    bottom: -107px;
}