.searchInput {

    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border: 0 !important;
    height: 40px !important;
    min-height: 40px !important;
}

.searchInput input {
    border: 0 !important;

}