.searchType {
    height: 40px !important;
    padding-top: 1.1em !important;
    padding-left: 3em !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
