.avatar-field {
    position: relative;
    width: fit-content;
}

.avatar-field > button {
    opacity: .9;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.avatar-container input {
    display: none;
    width: 0;
    opacity: 0;
    visibility: hidden;

}
.avatar-container  {
    width: fit-content;

}