.reveal-content {
    position: relative;
    width: fit-content;
}

.reveal-content > * {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.reveal-content:hover > * {
    transition: .4s opacity linear;
    opacity: .8;
}

.reveal-content .visible {
    min-height: 108px;
    opacity: 1 !important;
    display: block !important;
}
