.SignUpProfile {
  .location {
    display: flex !important;
    width: 100% !important;
    line-height: 1.21428571em !important;

    > div:nth-child(2), .SignUpProfile .location > div:nth-child(1) > div {

      max-height: 2.71428571em !important;
      min-height: 2.71428571em !important;
      height: 2.71428571em !important;
      line-height: 1.21428571em !important;

    }

    > div:first-child > div .text {
      margin-left: 1.665em !important;
    }

    > div:first-child input {
      padding-left: 2.67142857em !important;

    }

    > div:first-child {
      flex-grow: 1 !important;

    }

    > div:first-child > div.selection {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-right: 0 !important;

    }

    > div:nth-child(2) {
      width: auto;
      margin: 0 !important;
      align-content: flex-end !important;
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;

    }
  }
  .location-icon {
    position: absolute !important;
    left: 1px !important;
    line-height: 1 !important;
    height: 100% !important;
    width: 2.67142857em !important;
    opacity: 0.5 !important;
    font-size: 1em !important;
    top: 1.335em !important;
    margin-top: -0.5em !important;
    margin-left: 1em !important;
    z-index: 10 !important;

  }
}

